e 
/*global style*/

* {
    box-sizing: border-box;
}

h1 {

    font-weight: 600;
    font-size: 40px;
}

h2 {

    font-weight: 600;
    font-size: 25px;
}

h3 {

    font-weight: 600;
    font-size: 22px;
}

p{
    font-weight: 500;
    font-size: 12px;
}

body {
    margin: 0px;
    padding: 0px;
	font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
main {
    width: 80%;
    margin-left: 10%;
    clear: both;
}

/* Header Start */

.header_global {
	position: relative;
	top: 0px;
	width: cover;
}

.local_nav {
	position: absolute;
    float: center;
	top: 8%;
}

.local_logo img {
	position: absolute;
	top: 5%;
	float: left;
	margin: none;
	border: none;
	padding: none;
}

.local_nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
} 

.local_nav li {
    display: inline;
    position: relative;
    left: 50%;
    top: 60%;
    width: 50%;
    /*text-align: center;*/
}

.local_nav li a {
	text-decoration: none;
	color: #373737;
}

.site_nav {
	float: right;
}

/* Footer Start */
footer {
    width: 100%;
    height: 110px;
    background-color: #FF6347;
    color: white;
    text-align: center;
    margin: 0px;
}

footer.socialMedia {
    float: right;
    text-align: center;
    margin-right: 25px;
}

footer li { 
    display: inline-block;
    margin-right: 10px;
}
footer li a { 
    color: white;
    text-decoration: none;   
}

footer li a:hover { 
    color: darkgrey;
    cursor: pointer;   
}

footer img {
    height: 40px;
}
