e 
/*global style*/

* {
    box-sizing: border-box;
}

h1 {

    font-weight: 600;
    font-size: 40px;
}

h2 {

    font-weight: 600;
    font-size: 25px;
}

h3 {

    font-weight: 600;
    font-size: 22px;
}

p{
    font-weight: 500;
    font-size: 12px;
}

body {
    margin: 0px;
    padding: 0px;
	font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

main {
    width: 80%;
    margin-left: 10%;
    clear: both;
}


/* Header Start */

.header_global {
	position: relative;
	top: 0px;
	width: cover;
}

.local_nav {
	position: absolute;
    float: center;
	top: 8%;
}

.local_logo img {
	position: absolute;
	top: 5%;
	float: left;
	margin: none;
	border: none;
	padding: none;
}

.local_nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
} 

.local_nav li {
    display: inline;
    position: relative;
    left: 50%;
    top: 60%;
    width: 50%;
	padding: 20px;
    /*text-align: center;*/
}

.local_nav li a {
	text-decoration: none;
	color: #373737;
}

.site_nav {
	float: right;
	padding: 20px;
}


/*--DEST SEARCH BOX--*/

.flexbox {
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: light;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #transparent;
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #0091c2;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.search > div > input::-ms-placeholder {
  color: #efefef;
}

.search > div > input::-ms-input-placeholder {
  color: #efefef;
}

.search > div > input:focus,
.search > div > input:valid {
  width: 250px;
}



/* Footer Start */
footer {
    width: 100%;
    height: 180px;
    background-color: #FF6347;
    color: white;
    text-align: right;
}

footer.socialMedia {
	float: right;
    text-align: center;
    margin-right: 25px;
}

footer li { 
    display: inline-block;
    margin-right: 12px;
}
footer li a { 
    color: white;
    text-decoration: none;   
}

footer li a:hover { 
    color: darkgrey;
    cursor: pointer;   
}

footer img {
    height: 40px;
}
